@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;400;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
}

body {
  font-family: 'Martel Sans', sans-serif;
}

p {
  margin: 10px 0;
  line-height: 1.8;
}

a {
  text-decoration: none;
  color: rgb(18, 70, 90);
  font-weight: 700;

}

img {
  width: 100%;
  border-radius: 10px;
}


.scrolling-active #nav-cta:hover{
  background-color: #151515;
}

.scrolling-active .nav-link::after{
  background-color: #313131;
}

header {
  background: rgb(18, 70, 90);
  color: rgb(255, 255, 255);
  padding: 15px;
  width: 100%;
  height: 75px;
  border-bottom: solid 1px rgb(0, 0, 0);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  z-index: 99;
}

header h2 {
  font-family: 'Noto Serif JP', serif;
  font-size: 2em;
  font-weight: 600;
  letter-spacing:-0.06cm;
}

.nav-ul {
  font-family: 'Noto Serif JP', serif;
  font-size: 1.00em;
  font-weight: 550;
  line-height: 1cm;
  letter-spacing:-0.08cm;
  transition: ease all .5s;
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}

.nav-li {
  display:inline;
}

.header-a {
  color:rgb(255, 255, 255);
  display:inline-block;
  padding: 8px;
}
.header-a:hover {
  color:rgb(0, 0, 0);
}

.header-links {
  font-size: 0.7em;
  cursor: pointer;
}

.header-links h2:hover {
  background: rgb(185, 185, 185);
  transition-duration: 0.4s;
}
@media (hover: hover) and (pointer: fine) {
  a:hover { color: rgb(0, 0, 0)  }
}

@media (max-width: 650px) {
  .header-links h2, a{
    font-size: 18px;
    letter-spacing: -0.05cm;
    padding-left: 0;
    transition: ease all .5s;
  }
}
@media (max-width: 450px) {
  .header-links h2, a{
    font-size: 16px;
    letter-spacing: -0.05cm;
    padding-left: 0;
    transition: ease all .5s;
  }
}
@media (max-width: 450px) {
  .header-links h2{
    padding: 10px;
  }
}

.btn {
  display: inline-block;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  font-weight: 600;
  letter-spacing: 0.01cm;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  transform: scale();
  background: rgb(133, 133, 133);
  transition-duration: 0.4s;
}

.btn-back {
  background: #f4f4f4;
  color: #000;
  margin-bottom: 15px;
  margin-left: 5px;
}

.posts {
  display: grid;
  gap: 30px;
  margin-top: 10px;
}

.card {
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card p {
  font-size: 0.4cm;
  font-weight: 100;
  letter-spacing: 0.01cm;
}

.card-page {
  padding: 10px;
  margin-bottom: 0px;
}
@media only screen and (max-width : 575.98px) {
  .card-page {
    padding: 25px 10px;
   }}

.post-title {
  margin: 20px 10;
}

.card-text {
  display: inline-block;
  vertical-align: top;
  width: 60%;
}

.card-text h1 {
  padding-top: 10px;
  font-size: 1.3em;
  font-weight: 700;
  letter-spacing:-0.05cm;
}

.card-image {
  display: inline-block;
  width: 40%;
  transition: ease all .5s;
  padding: 5px;
}
@media (max-width: 850px) {
  .card-image {
    width: 40%;
    padding-top: 10%;
    padding-left: 5px;
  }
}

.author-section {
  display: flex;
  align-items:center;
}

.author-text {
  padding-left: 10px;
  font-size: 13px;
  font-weight: 700;
  letter-spacing:-0.01cm;
}

.post-date {
  font-size: 13px;
  color: rgb(117, 117, 117);
}

.author-image {
  border-radius: 50%;
}

.profile-image {
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.container {
  width: 30%;
  /* background: aqua; */
  margin: auto;
  transition: ease all .5s;
}

.container p {
 font-size: 12px;
}

@media only screen and (max-width : 2200px) {
  .container {
    width: 30%;
    padding-left: 20px;
    padding-right: 20px;
   }}
   @media only screen and (max-width : 1800px) {
    .container {
      width: 50%;
      padding-left: 20px;
      padding-right: 20px;
     }}
@media only screen and (max-width : 1400px) {
  .container {
    width: 70%;
   }}
@media only screen and (max-width : 992.98px) {
  .container {
    width: 110%;
    padding-left: 150px;
   }}

   @media only screen and (max-width : 900px) {
    .container {
      width: 110%;
     }}

     @media only screen and (max-width : 700px) {
      .container {
        width: 100%;
        padding-left: 20px;
       }}

     @media only screen and (max-width : 575.98px) {
      .container {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        margin: 0;
        font-size: 0.25cm;
       }}

       @media only screen and (max-width : 575.98px) {
        .container p {
          font-size: 0.3cm;
         }}

.content {
  padding-top: 90px;
  width: 80%;
  /* background: red; */
  float: left;
  padding-bottom: 1.5rem;
}

   @media only screen and (max-width : 700px) {
    .content {
      width: 100%;
     }}

.footer {  
  flex-grow: 1;
  padding-top: 100px;
  font-family: 'Noto Serif JP', serif;
  font-size: 0.3cm;
  letter-spacing:-0.03cm;
  font-weight: 100;
  /* background-color: rgb(109, 109, 109); */
  color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 10px; /* Position the navbar at the top of the page */
  left: 59%;
  z-index: 99;
  transition: ease all .5s;
}

@media only screen and (max-width : 2000px) {
  .footer {
    left: 62%;
  }}

@media only screen and (max-width : 1800px) {
  .footer {
    left: 66%;
  }}

  @media only screen and (max-width : 1400px) {
    .footer {
      left: 70%;
    }}

.footer h2 {
padding: 8px;
cursor: pointer;
text-align: center;
}

.footer ul, li {
  list-style:none;
}

@media only screen and (max-width : 991.98px) {
  .footer {
      display: none;
   }
}

.about-container {
  font-size: 13px;
  padding: 50px;
  background-color: rgb(238, 238, 238);
}
@media only screen and (max-width : 991.98px) {
  .about-container {
    padding: 10px;
  }
}

.copyright {
  font-size: 12px;
  text-align: center;
}

.footer-navlinks {
  padding-top: 10px;
  padding-left: 10px;
}

.footer-navlinks li {
  font-size: 14px;
  padding: 2px;
  text-align: left;
}

.made-with {
  font-size: 14px;
  padding-top: 20px;
  padding-left: 10px;
  text-align: center;
}

.fa-icons {
  font-size: 28px;
  text-align: center;
}

.brand-icons {
  padding: 1px;
}

.footer-bottom {
  color: rgb(255, 255, 255);
  font-family: 'Noto Serif JP', serif;
  font-size: 0.3cm;
  letter-spacing: -0.001cm;
  background:rgb(70, 70, 70);
  box-shadow: 0 50vh 0 50vh rgb(70, 70, 70);
  clear: both;
  position: relative;
  height: 180px;
  margin-top: -200px;
  width: 100%;
}
@media only screen and (min-width : 991.98px) {
.footer-bottom {
    display: none;
 }
}

@media (max-width: 450px) {
  .footer-bottom li {
    padding-left: 15px;
  }
}

.hidden {
  display: none;
}

.contact-info a {
  letter-spacing:-0.001cm;
}

#yourname, #youremail{
  width: 300px;
}

#yourmessage {
  width: 300px;
  height: 100px;
  margin: auto;
  position: relative;
}

.footer-container {
  display: flex;
  justify-content: center;
}

.footer-nav {
  flex-basis: 180px;
  height: 100px;
  margin: 7px;
  
}

.footer-nav a {
  color: rgb(255, 255, 255);
  font-family: 'Noto Serif JP', serif;
  font-size: 0.4cm;
  letter-spacing:-0.001cm;
}